<div class="container-fluid pt-4">

    <div class="row">
        <div class="col col-xs-4">
            <strong>Página {{ pagination.page }} de {{ pagination.pageCount }} </strong>
        </div>
        <div class="col col-xs-8">
            <nav aria-label="navigation" class="float-right" role="pagination">
                {{{paginate pagination }}}
            </nav>
        </div>
    </div>

    <table class="table table-striped table-sm">
        <thead>
            <tr class="text-center">
                <th scope="col">Usuario</th>
                <th scope="col">Nomble Completo</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil </th>
                <th scope="col">Activo</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td scope="row">{{name}}</td>
                <td>{{fullname}}</td>
                <td>{{email}}</td>
                <td>{{profileId}}</td>
                <td>{{active}}</td>
                <td class="text-center">
                    <a href="/users/edit/{{nroTicket}}">
                        <i class="fas fa-marker" title="Modificar"></i>
                    </a><br>
                    <a href="/users/delete/{{../nroTicket}}">
                        <i class="far fa-trash-alt" title="Eliminar"></i>
                    </a><br>
                </td>
            </tr>
            {{else}}
            <tr class="text-center">
                <td colspan="6">No existen registros</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>